/* TODO 

1) media query para os varios screen sizes
2) Table
3) Host somewhere [x]
4) Check for repeated code
5) semantic html [x]
6) Github [x]
7) Check resolution for small devices, probably need tweak padding/margin/font-size


*/

:root {
  /* Colors  */
  --brown800: hsl(14, 45%, 36%);
  --rose50: hsl(330, 100%, 98%);
  --rose800: hsl(332, 51%, 32%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --white: hsl(0, 0%, 100%);
  /* Dimensions  */
  --widthDesktop: 1440px;
  --widthMobile: 375px;
  --widthTest: 700px;
  /* Reset  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0 auto;
  background-color: var(--stone100);
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
}

.attribution {
  text-align: center;
  margin-top: 1.25rem;
  font-family: "Outfit";
  font-weight: 400;
  font-size: clamp(0.6875rem, 0.6339rem + 0.2679vw, 0.875rem);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: clamp(20rem, 0rem + 100vw, 90rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--white);
  padding: 2rem;
  margin-top: 2.5rem;
  border-radius: 1.25rem;
  font-family: "outfit";
  font-weight: 400;
}

picture img {
  width: 100%;
  border-radius: 0.5rem;
}

h1 {
  font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
}

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 400;
}

h2 {
  color: var(--brown800);
}

h3 {
  color: var(--rose800);
}

span {
  font-family: "Outfit";
  font-weight: 600;
}

li {
  padding-left: clamp(1rem, 0.5rem + 2.5vw, 2.75rem);
}

ol li::marker {
  color: var(--brown800);
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 1px solid var(--stone150);
  padding: 0.5rem;
  text-align: left;
  padding-left: 1.25rem;
}

hr {
  border: none;
  height: 0.3px;
  width: 100%;
  background-color: var(--stone150);
}

.values {
  font-family: "Outfit";
  font-weight: 700;
  color: var(--brown800);
}

section.prepTime {
  background-color: var(--rose50);
  margin-top: 1.25rem;
  margin-bottom: 0.6rem;
  border-radius: 0.6rempx;
  padding: 1.25rem;
  line-height: 1.6em; /* ? */
}

.prepTime ul {
  /* padding-left: 25px; */
  padding-left: 1.5rem;
}

.prepTime li::marker {
  color: var(--rose800);
}

.ingredients ul {
  line-height: 1.6em; /* ? */
  padding-left: 1.5rem;
}

.ingredients li::marker {
  color: var(--brown800);
}

.instructions ol {
  line-height: 1.6em; /* ? */
  padding-left: 1.5rem;
}
